.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.App h1 {
  color: white;
  background-color: rgba(0, 162, 208);
  font-size: 3rem;
  border: solid white 2px;
}

.App input {
  margin: 2%;
  height: 30px;
}

button {
  background-color: rgba(0, 162, 208);
  color: white;
  width: 200px;
  height: 50px;
}

.smurf-list {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around
}

.smurf-card {
  color: white;
  background-color: rgba(0, 162, 208, .8);
  width: 50%;
  border: solid white 2px;
  margin: 2%;
}


